@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');


#topo {
    background-color: rgb(2, 2, 2);
}

#vast-shadow-regular {
    font-family: "Vast Shadow", serif;
    font-weight: 400;
    font-style: normal;
  }
#Ferramentas {
    display: flex;

    justify-content: space-around;
}
#cursos {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-width:320px) and (max-width:1024px) {
    .row {
        display: flex;
        flex-direction: column; /* Torna os itens empilhados */
        align-items: center; /* Centraliza os itens */
      }
    
    .col-7, .col-5 {
        width: 100%; /* Garante que as colunas ocupem toda a largura */
        text-align: center; /* Centraliza o texto */
        margin-bottom: 20px; /* Espaço entre os elementos */
      }
    
    .col-5 img {
        width: 80%; /* Ajusta o tamanho da imagem */
        height: auto; /* Mantém a proporção da imagem */
        margin: 0 auto; /* Centraliza horizontalmente */
        margin-top: auto;
      }
    .col-3, .col-9, .col-8 {
        width: 100%; /* Garante que as colunas ocupem toda a largura */
        text-align: center; /* Centraliza o texto */
        margin-bottom: 15px; /* Espaço entre os elementos */
        align-items: center;
      }
    #investimentoimg {
        width: 340PX;
        height: 260PX;
        align-items: center;
        display: flex;
      }
    img {
        width: 100%; /* Ajusta o tamanho da imagem */
        height: auto; /* Mantém a proporção da imagem */
        margin: 0 auto; /* Centraliza horizontalmente */
      }
    h3 {
        text-align: center;
    }
    #cursos {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
    }
    #cursoextra {
        margin-top: 20px;
    }
    #Ferramentas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card {
        margin-top: 20px;
    }
    p{
      text-align: justify;
    }

}

#conteudo{
  margin-left: 70px;
  margin-right: 70px;

}
div{
  text-align: center;
}
h3{
  text-align: left;
}

h5{
  text-align: left;
}

h6{
  text-align: left;
}

p{
  text-align: left;
}